.m-dialog {
  min-height: 150px;
  width: 400px;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: var(--border-radius-default);
  padding: 24px;
}

.m-dialog__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: 20px;
  font-weight: 700;
  text-align: left;
}

.m__icon--close {
  width: 16px;
  height: 16px;
  flex: 0 0 16px;
  cursor: pointer;
}

.m-dialog__content {
  display: flex;
  align-items: start;
  padding: 24px 0px;
  width: 100%;
  text-align: left;
  column-gap: 12px;
}

.m-dialog__content-icon {
  flex: 0 0 24px;
  width: 24px;
  height: 24px;
}

.m-dialog__footer {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 100%;
  column-gap: 8px;
}
