.filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  width: 100%;
  padding: 12px 16px;
  background-color: white;
  border-top-left-radius: var(--border-radius-default);
  border-top-right-radius: var(--border-radius-default);
}

.filter .search-input-container {
  width: 280px;
  background-color: white;
}

.filter__right {
  display: flex;
  align-items: center;
  column-gap: 12px;
}

.multi-field__action-box {
  display: flex;
  column-gap: 16px;
  align-items: center;
  display: none;
}

.selected-count {
}

.selected-all {
  color: #ff0000;
  cursor: pointer;
}

.selected-all:hover {
  font-weight: 700;
}

.selected-delete {
  display: flex;
  align-items: center;
  column-gap: 8px;
  height: 36px;
  cursor: pointer;
  border: 2px solid var(--border-color-default);
  border-radius: var(--border-radius-default);
  padding: 0 12px;
  background-color: white;
}

.selected-delete:hover {
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
}

.selected-delete__icon {
  width: 18px;
  height: 18px;
  flex: 0 0 18px;
}

.selected-delete__text {
  color: #ff0000;
  font-weight: 500;
}
