.bold-text {
  font-weight: 700;
  color: black;
}

.label-text {
  font-weight: 500;
  font-size: 14px;
  font-weight: 500;
}

.m-overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(177, 177, 177, 0.7);
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}

.text-overflow-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

/** 
* text align 
*/
.text-align--center {
  text-align: center;
}

.text-align--left {
  text-align: left;
}

.text-align--right {
  text-align: right;
}
