/*== x keyframes ==*/
@keyframes x-right--in {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes x-right--out {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes x-left--in {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes x-left--out {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/*== y keyframes ==*/
@keyframes y-bottom--in {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes y-bottom--out {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(100%);
  }
}

@keyframes y-top--in {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes y-top--out {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}

/*== opacity keyframes */
@keyframes opacity--in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacity--out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* toast keyframes */
@keyframes toast__count-down {
  0% {
    width: 100%;
    border-bottom-right-radius: var(--border-radius-default);
  }
  5% {
    width: 95%;
    border-bottom-right-radius: 0px;
  }
  100% {
    width: 0%;
  }
}

/* popup keyframes */
@keyframes popup--in {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes popup--out {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}

/*== header keyframes */
/* scale */
@keyframes header-menu--show {
  0% {
    height: 0px;
  }
  100% {
    height: 90px;
  }
}

@keyframes header-menu--hide {
  0% {
    height: 90px;
  }
  100% {
    height: 0px;
  }
}

@keyframes app-logo-scale--up {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

@keyframes app-logo-scale--down {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes subapp__name--up {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(20%);
  }
}

@keyframes subapp__name--down {
  0% {
    transform: translateY(20%);
  }
  100% {
    transform: translateY(0%);
  }
}

/*== sidebar ==*/
@keyframes sidebar--collapse {
  0% {
    width: 200px;
  }
  100% {
    width: 72px;
  }
}

@keyframes sidebar--expand {
  0% {
    width: 72px;
  }
  100% {
    width: 200px;
  }
}

/*== main container ==*/
@keyframes main-container--collapse {
  0% {
    width: calc(100vw - 200px);
  }
  100% {
    width: calc(100vw - 72px);
  }
}

@keyframes main-container--expand {
  0% {
    width: calc(100vw - 72px);
  }
  100% {
    width: calc(100vw - 200px);
  }
}
