.popup-overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: var(--grey-200);
}

.popup-container {
  background-color: white;
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  padding: 24px;
  width: auto;
}

.popup__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popup__header-title {
  font-size: 20px;
  font-weight: bold;
  text-align: left;
}

.popup__header-close {
  font-size: 20px;
  text-align: right;
}

.popup__header-close:hover {
  cursor: pointer;
}

.popup__content {
  margin: 20px 0px 24px;
}

.popup__content-image {
  margin-bottom: 24px;
}

.popup__content-image img {
  height: 300px;
}

.popup__content-infor {
  font-size: var(--font-size-default);
  text-align: left;
}

.popup__footer {
  display: flex;
  align-items: center;
  justify-content: center;
}
